<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.desafio_iii_mgi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".PrecargasApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="DeportPlus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Desafio_III_MGI">
        <activity
            android:name=".Admin.GestionUsuariosPorEvento"
            android:exported="false" />
        <activity
            android:name=".Events.EventoActivityUsers"
            android:exported="false" />
        <activity
            android:name=".Admin.LocalizacionUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".Users.ListadoEventosUsusAct"
            android:exported="false" />
        <activity
            android:name=".Events.EventoActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Admin.LIstadoEventosActivity"
            android:exported="false" />
        <activity
            android:name=".Users.FichaUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ListadoUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Users.UserActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>